<!DOCTYPE html>
<html lang="en">
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <%= image_tag 'profile-img12.jpg', alt: '', class: 'img-fluid rounded-circle' %>
        <h1 class="text-light"><a href="index.html">Ali Ahmad</a></h1>
        <div class="social-links mt-3 text-center">
          <%= link_to "https://www.linkedin.com/in/ali-mughal-3b1488131/", { class: "linkedin", target: '_blank' }.stringify_keys do %>
            <i class="bx bxl-linkedin"></i>
          <% end %>
          <%= mail_to 'alimughal9987@gmail.com', nil, class: 'email-icon', title: 'Send Email' do %>
            <i class="bx bx-envelope"></i>
          <% end %>
          <%= link_to "https://github.com/ALIAHMAD419", { class: "git-hub", target: '_blank' }.stringify_keys do %>
            <i class="bx bx-git-pull-request"></i>
          <% end %>
          <%= link_to "https://medium.com/@alimughal9987", { class: "medium", target: '_blank' }.stringify_keys do %>
            <i class="bx bxl-medium-square"></i>
          <% end %>
          <%= link_to "https://join.skype.com/invite/AqVfL1lbbqxF", { class: "google-plus", target: '_blank' }.stringify_keys do %>
            <i class="bx bxl-skype"></i>
          <% end %>
          <%= link_to "https://www.facebook.com/ali.mughal.737/", { class: "facebook", target: '_blank' }.stringify_keys do %>
            <i class="bx bxl-facebook"></i>
          <% end %>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url(<%= asset_path('bg.jpg') %>);">
      <!-- Content goes here -->
      <div class="hero-container" data-aos="fade-in">
        <h1>Ali Ahmad</h1>
        <p>I'm <span class="typed" data-typed-items="Web Developer, Freelancer, Problem Solver, Resouce Manager, Fitness Freak"></span></p>
      </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>As a highly creative and results-driven professional, I bring 6+ years of experience in full-stack application development using ROR, Elixir/Phoenix, Node.js, and React. My expertise includes deploying and dockerizing applications, staying updated with the latest technologies, and adhering to best practices. With a strong focus on delivering high-quality solutions, I consistently meet project requirements. I am a dedicated team player, capable of collaborating effectively with clients and colleagues. Overall, my skills, passion, and work ethic make me an asset to any organization aiming for innovation and excellence in software development."</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <%= image_tag 'web.jpg', alt: '', class: 'img-fluid' %>

          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Principle of Software Engineer &amp; Web Developer.</h3>
            <p class="fst-italic">
              Driving Innovation and Excellence in
              Ruby On Rails (Specialist)
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>12 Feb 1996</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+92 3224522419</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lahore, Pakistan</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>28</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>alimughal9987@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Experienced web developer with a strong technical background and a passion for creating exceptional websites. Skilled in problem-solving, collaboration, and effective communication. Committed to delivering high-quality projects on time and within budget. Continuously learning and staying up-to-date with the latest technologies. Dedicated to client satisfaction and building long-term relationships.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> Around The Globe</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> Global Impact </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="720" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Cup Of Coffee</strong> Highly Caffeinated Moments of Brilliance</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="24560" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> Honing My Skills and Crafting Exceptional Experiences.</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Technologies & Skills</h2>
          <p>My diverse set of skills that enables me to create functional, visually appealing, and user-friendly websites.</p>
        </div>
       <div class="container skills-content pb-10">
        <div class="row" data-aos="fade-up">
          <% skills = ["Ruby", "Rails", "Elixir", "Phoenix", "HTML", "CSS", "JavaScript", "jQuery", "Bootstrap", "API's", "Phoenix", "LiveViews", "React", "Angular", "AWS", "MicroServices"] %>
          <% skills.each do |skill| %>
            <div class="col-sm-2">
              <span class="badge bg-primary text-wrap"><%= skill %> <i class="val"></i></span>
            </div>
          <% end %>
        </div>
      </div>
      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I am a dedicated and highly motivated professional with a passion for learning and a strong commitment to excellence. With a solid educational background and years of experience in the field, I bring a combination of technical expertise, problem-solving skills, and a strong work ethic. I thrive in dynamic environments, adapt quickly to new challenges, and continuously strive to deliver exceptional results. With a keen eye for detail and a collaborative mindset, I am confident in my ability to contribute effectively to any team and drive success in my endeavors.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Ali Ahmad</h4>
              <p><em>Experienced web developer with over 6+ years of industry experience. Proficient in HTML, CSS, JavaScript, and various frameworks (Ruby on Rails, Elixir/Phoenix). Skilled in creating innovative and user-friendly websites. Strong problem-solving abilities and a collaborative team player. Committed to staying updated with the latest industry trends and best practices. Excellent track record of delivering high-quality code and exceptional user experiences. Quick learner with the ability to adapt to new technologies and programming languages.</em></p>
              <ul>
                <li>Lahore, Pakistan</li>
                <li>+92 3224522419</li>
                <li>alimughal9987@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Computer Science &amp; Information Technology</h4>
              <h5>2014 - 2018</h5>
              <p><em>University Of Lahore, Lahore, Pakistan</em></p>
              <p>I hold a Bachelor's degree in Computer Science, specializing in programming and software development. My studies covered key areas such as data structures, databases, networks, Mathematics and software engineering. I have strong programming skills in languages like Java, C++, and Python, and a track record of academic excellence. I am passionate about problem-solving and have experience working on diverse projects.</p>
            </div>
            <div class="resume-item">
              <h4>Faculty of Contemporary Studies &amp; Intermediate in Computer Science</h4>
              <h5>2012 - 2014</h5>
              <p><em>Govt.college of Science, Lahore, Pakistan</em></p>
              <p>Completing my Intermediate in Computer Science provided a solid foundation in programming languages. Exploring algorithms, data structures, and software development enhanced my problem-solving abilities and logical reasoning skills.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Principle of Software Engineer</h4>
              <h5>2022 - Present</h5>
              <p><em>Sedin Technologies, CA 94085, USA</em></p>
              <ul>
                <li>Develop web applications using ROR, Elixir back-end and React, Erb and Nodejs for fornt-end applications, employing industry best practices and design patterns.</li>
                <li>Utilize technologies to design, deploy, and monitor scalable systems that adhere to best practices and design principles.</li>
                <li>Create a robust infrastructure, tool-set, and deployment pipeline to support API development.</li>
                <li>Collaborate with front-end developers to design and develop reliable services, producing high-quality, well-tested code.</li>
                <li>Work directly with businesses to implement features and gain a deep understanding of use cases.</li>
                <li>Deliver pragmatic software solutions that prioritize quick feature delivery without sacrificing code quality.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Senior Software Engineer</h4>
              <h5>2020 - 2022</h5>
              <p><em>InvoZone, Lahore, Pakistan</em></p>
              <ul>
                <li>Developed enterprise-wide DNS historical data trending analysis tools in Ruby and other languages, offering a REST API micro-service for user queries.</li>
                <li>Created ROR and AngularJS diagnostic tools to help with customer issues internally.</li>
                <li>Used Elixir and ROR for the back-end REST service and AngularJS for the user interface.</li>
                <li>Hands-on experience in web application development with ERB, HTML, CSS, JavaScript, jQuery, AJAX, JSON, and Kubernetes.</li>
              </ul>
            </div>
             <div class="resume-item">
              <h4>Software Engineer</h4>
              <h5>2018 - 2020</h5>
              <p><em>Amrood Labs, Lahore, Pakistan</em></p>
              <ul>
                <li>Helped to increase the accuracy of the reporting systems by 4%.</li>
                <li>Delivered configuration management tools to track server settings for performance testing which saved 25% of initial machine setup.</li>
                <li>Developed monitor reports that are using in-memory cache, updating the data shown to the user every 1 second.</li>
                <li>Optimized customer resources and reduce turnaround time by 20%.</li>
                <li>Performed root cause analysis for more than 10 issues to identify bugs and rolled out fixes to production within 24 hours.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Showcasing 6 Years of Web Development Excellence.</p>
        </div>

        <%# <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div> %>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%= image_tag 'portfolio/apprent.png', alt: '', class: 'img-fluid' %>
              <div class="portfolio-links">
                <a href="<%= image_path('portfolio/apprent.png') %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="https://appworkco.com"><i class="bx bx-plus"></i></a>
                <%= link_to 'https://appworkco.com', { title: 'More Details', target: '_blank' }.stringify_keys do %>
                  <i class="bx bx-link"></i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%= image_tag 'portfolio/dmarcReport.png', alt: '', class: 'img-fluid' %>
              <div class="portfolio-links">
                <a href="<%= image_path('portfolio/dmarcReport.png') %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="https://dmarcreport.com/"><i class="bx bx-plus"></i></a>
                <%= link_to 'https://dmarcreport.com/', { title: 'More Details', target: '_blank' }.stringify_keys do %>
                  <i class="bx bx-link"></i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%= image_tag 'portfolio/milaap.png', alt: '', class: 'img-fluid' %>
              <div class="portfolio-links">
                <a href="<%= image_path('portfolio/milaap.png') %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="https://crowdfunding.milaap.org/"><i class="bx bx-plus"></i></a>
                <%= link_to 'https://crowdfunding.milaap.org/', { title: 'More Details', target: '_blank' }.stringify_keys do %>
                  <i class="bx bx-link"></i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%= image_tag 'portfolio/himCloud.png', alt: '', class: 'img-fluid' %>

              <div class="portfolio-links">
                <a href="<%= image_path('portfolio/himCloud.png') %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="https://himcloud-railsf-01.herokuapp.com/"><i class="bx bx-plus"></i></a>
                <%= link_to 'https://himcloud-railsf-01.herokuapp.com/', { title: 'More Details', target: '_blank' }.stringify_keys do %>
                  <i class="bx bx-link"></i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%= image_tag 'portfolio/clinicalmind.png', alt: '', class: 'img-fluid' %>

              <div class="portfolio-links">
                <a href="<%= image_path('portfolio/clinicalmind.png') %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="https://www.clinicalmind.com/"><i class="bx bx-plus"></i></a>
                <%= link_to 'https://www.clinicalmind.com/', { title: 'More Details', target: '_blank' }.stringify_keys do %>
                  <i class="bx bx-link"></i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%= image_tag 'portfolio/skec.png', alt: '', class: 'img-fluid' %>
              
              <div class="portfolio-links">
                <a href="<%= image_path('portfolio/skec.png') %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="https://www.skechers.com/"><i class="bx bx-plus"></i></a>
                <%= link_to 'https://www.skechers.com/', { title: 'More Details', target: '_blank' }.stringify_keys do %>
                  <i class="bx bx-link"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>As a highly experienced web developer with 6 years of professional experience, I strive to deliver high-quality, scalable, and secure web solutions that meet the unique needs of each client. I am dedicated to staying updated with the latest industry trends and technologies to provide innovative solutions and drive success for businesses in the digital realm. I offer a wide range of services to help businesses and clients succeed in the digital landscape. Here are some of the key services I provide:</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title">Web Development</h4>
            <p class="description">I specialize in full-stack web development, using technologies such as Ruby on Rails, Python Django, Node.js, and PHP. I can create custom web applications, content management systems (CMS), e-commerce platforms, and other dynamic websites tailored to specific business needs.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title">Front-end Development</h4>
            <p class="description">I  have extensive expertise in HTML, CSS, and JavaScript frameworks such as React, Angular, and Erb templates. I can develop responsive and user-friendly interfaces, ensuring optimal user experiences across different devices and browsers.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title">Database Design and Integration</h4>
            <p class="description">I have a strong understanding of database management systems, including MySQL, PostgreSQL, and MongoDB. I can design and implement efficient database structures, ensuring data integrity and optimal performance for web applications.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title">API Development and Integration</h4>
            <p class="description">I can develop robust RESTful APIs to facilitate data exchange between different systems and platforms. I have experience integrating APIs from various third-party services, such as payment gateways, social media platforms, and geolocation services.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title">Performance Optimization</h4>
            <p class="description">I focus on creating high-performance web applications by optimizing code, database queries, and server configurations. I employ techniques such as caching, code minification, and load balancing to enhance website speed and scalability.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title">Security and Bug Fixing</h4>
            <p class="description">I prioritize the security of web applications by implementing industry best practices, such as input validation, data encryption, and protection against common vulnerabilities. Additionally, I have expertise in identifying and fixing bugs, ensuring smooth functionality and minimizing downtime.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title">Website Maintenance and Support</h4>
            <p class="description">I provide ongoing maintenance and support services to ensure the long-term stability and reliability of web applications. This includes monitoring, regular updates, bug fixes, and troubleshooting.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title">Microservices Architecture</h4>
            <p class="description">I have expertise in designing and implementing microservices-based architectures. Experienced in designing and implementing scalable and modular microservices-based architectures to enhance system scalability, flexibility and maintainability. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title">Collaboration and Communication</h4>
            <p class="description">I am a strong believer in effective collaboration and communication. I work closely with clients to understand their requirements, provide regular progress updates, and incorporate feedback throughout the development process.</p>
          </div>

        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Me to Discuss Your Web Development Needs.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Lahore, Pakistan</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>alimughal9987@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+92 3224522419</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d340.4658083644395!2d74.35874947097292!3d31.520369041006612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391904af45d69455%3A0x7c6a194da5a6f5ac!2sLahore%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1625607472122!5m2!1sen!2s"  frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

            </div>

          </div>
         <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <%= form_with model: @client_query, url: home_client_query_path, role: "form", class: "php-email-form" do |form| %>
            <div class="row">
              <div class="form-group col-md-6">
                <%= form.label :name, "Your Name" %>
                <%= form.text_field :name, class: "form-control", required: true %>
              </div>
              <div class="form-group col-md-6">
                <%= form.label :email, "Your Email" %>
                <%= form.email_field :email, class: "form-control", required: true %>
              </div>
            </div>
            <div class="form-group">
              <%= form.label :subject, "Subject" %>
              <%= form.text_field :subject, class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= form.label :message, "Message" %>
              <%= form.text_area :message, class: "form-control", rows: 10, required: true %>
            </div>
            <div class="my-3">
              <% if flash[:success] %>
                <div class="alert alert-success">
                  <%= flash[:success] %>
                </div>
              <% elsif flash[:alert] %>
                <div class="alert alert-danger">
                  <%= flash[:alert] %>
                </div>
              <% end %>
            </div>
            <div class="text-center">
              <%= form.submit "Send Message" %>
            </div>
          <% end %>
        </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
</body>

</html>